version: "3.9"

services:
  app:
    build: .
    container_name: yandex_reviews_app
    working_dir: /var/www/html
    ports:
      - "8000:8000"
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_KEY: base64:in7USYNsWZ22C81SVtZfh5EomG78sN3ptTzXJc02HW0=
      APP_URL: http://localhost:8000
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    volumes:
      - .:/var/www/html

  vite:
    image: node:20-alpine
    working_dir: /app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5174"
    ports:
      - "5174:5174"
    volumes:
      - .:/app
